@import 'partials/_tablet';
@import 'partials/_large';
@import 'partials/_small';

$logo-font: 'IBM Plex Sans', sans-serif;
// $font-color: #7c777d;
// $font-color: #87cefa;
$font-color: #4ca4db;
$body-font-color: #4ca4db;
$small-screen: 420px;

// object fit property

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
  color: inherit;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $body-font-color;
  border-radius: 4px;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: $body-font-color;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border: 2px solid $body-font-color;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
input[type='submit']:hover {
  background-color: white;
  color: $body-font-color;
}

#commentsContainer {
  font-family: $logo-font;
  color: black;
  margin: 1em 1em 4em 1em;
  // border-top: 1px dotted $body-font-color;
  .commentBox {
    border-top: 1px dotted $body-font-color;
  }
}

#commentBodyInput {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $body-font-color;
  border-radius: 4px;
}

#commentFormBox {
  display: flex;
  flex-wrap: wrap;
  // position: absolute; /* or absolute */
  top: 25%;
  left: 50%;
  right: 50%;
  font-family: $logo-font;
  margin-top: 4em;
  width: 25%;
}

.editButtons {
  background-color: $body-font-color;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#noPics {
  font-family: $logo-font;
  color: $body-font-color;
}

#stackHeadBox {
  font-family: $logo-font;
  color: $body-font-color;
  margin: 0em 0em 0em 0em;
  align-items: center;
  align-content: center;
}

// mail
#noMail {
  position: absolute;
  top: 50;
  font-family: $logo-font;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

#inboxContainer {
  display: flex;
  flex-wrap: wrap;
  font-family: $logo-font;
  width: 100%;
  height: auto;
  margin: 0em 0em 0em 0em;
  vertical-align: top;
  .mailBox {
    width: 100%;
    border: 1px dotted $body-font-color;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em;
    .timeSent {
      font-size: 10px;
    }
    .mailSender {
      display: inline;
      .sentBy {
        width: 40%;
        font-weight: 800;
      }
      .senderId {
        width: 60%;
      }
    }
  }
}
.contactHead {
  font-family: $logo-font;
}

#formContainer {
  font-family: $logo-font;
}
