$logo-font: 'IBM Plex Sans', sans-serif;

body {
  color: aquamarine;
  background-color: white;
}

#logo {
  color: #7c777d;
}
#tagline {
  color: #7c777d;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $logo-font;
}
