$logo-font: 'IBM Plex Sans', sans-serif;
// $font-color: #7c777d;
$font-color: #87cefa;
$body-font-color: #4ca4db;
$small-screen: 420px;

// object fit property

a:-webkit-any-link {
  text-decoration: none !important;
}

a {
  color: inherit;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid $body-font-color;
  border-radius: 4px;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: $body-font-color;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

html {
  height: 100%;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  body {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
  }
  #formContainer {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: space-between;
    #formBox {
      display: flex;
      // position: absolute; /* or absolute */
      top: 25%;
      left: 50%;
      right: 50%;
      font-family: $logo-font;
      margin-top: 4em;
    }
    #leftBox {
      #leftText {
        color: #4ca4db;
        font-family: $logo-font;
      }
      #leftImage {
        width: 80%; /* you can use % */
        height: auto;
      }
    }
  }

  #logo {
    color: $font-color;
  }
  #tagline {
    color: #4ca4db;
  }

  .loginButton {
    background-color: white;
    color: #4ca4db;
    border: 2px solid $font-color; /* Green */
    font-family: $logo-font;
    // position: absolute;
    float: right;
    margin: 0em 0em 0.5em 0.5em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .loginButton:hover {
    background-color: #4ca4db; /* Green */
    color: white;
  }

  #header {
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $logo-font;
    border-top: 1px dotted $font-color;
    padding-top: 10px;
    margin: 0.5em 0em 4em 0em;
    #logoBox {
      width: 75%;
      font-size: 3.25em;
      font-weight: 900;
      letter-spacing: 4px;
    }
    #tagBox {
      width: 25%;
      font-size: 0.75em;
      border-left: 1px dotted $font-color;
      padding: 5px;
      // #tagLine {
      //   color: black;
      // }
    }
  }

  #contentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    #bigContentBox {
      width: 75%;
      // background-color: aquamarine;
      margin: 1em 1em 4em 1em;
      // border: solid 1px;
      #bigTitle {
        font-family: $logo-font;
        margin: 0em 0em 0em 0em;
      }
      #bigUsername {
        margin: 0em 0em 0em 0em;
        font-family: $logo-font;
      }
      .bigAuthor {
        margin: 0em 0em 0em 0em;
        font-family: $logo-font;
      }
      .bigImage {
        // width: 400px;
        width: 100%;
        height: 60%;
      }
      .bigTextBody {
        font-family: $logo-font;
      }
      #editButtonsBox {
        display: flex;
      }
    }
    #stackedContentContainer {
      width: 25%;
      // background-color: darkviolet;
      margin: 1em 1em 4em 1em;
      // border: solid 1px;
      .stackedBox {
        // border: solid 1px;
        height: 33%;
        margin-bottom: 10px;
        .smallTitle {
          margin: 0em 0em 0em 0em;
          font-family: $logo-font;
        }
        .smallPic {
          width: 100%;
          height: 75%;
        }
        .stackedText {
          // margin: 1em 1em 4em 1em;
          margin-bottom: 2px;
          font-family: $logo-font;
        }
      }
    }
  }
}
