<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotchek</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{>fonts}}
</head>

<body>
  {{>header}}
  <div id="loginBox">
    <form action="/gallery/new" method="post">
      <div class="inputClass">
        <label>Photo Title:</label>
        <input type="text" name="title" />
      </div>
      <div class="inputClass">
        <label>Photo Url:</label>
        <input type="text" name="photo_url" />
      </div>
      <div class="inputClass">
        <label>Photo Description:</label>
        <input type="text" name="description" />
      </div>
      <div class="inputClass">
        <input type="submit" value="Create Post" />
      </div>
    </form>
  </div>


</body>

</html>