<div id="header">
  <div id="logoBox">
    <a href="http://localhost:3000/">
      <div id="logo">
        <i class="fas fa-tint"></i>

        SPOTCHEK
      </div>
    </a>

  </div>

  <div id="tagBox">
    <div id="tagline">Welcome to your online spotcheck. We are a small group of passionate boardriders and thrillseekers
      looking
      to inspire others to challenge the status quo. Check other spots, or post a picture of your own. Share the stoke!
    </div>
  </div>


</div>