<div id="outerHeader">
  <a href="/logout">
    <button class="loginButton">Logout</button></a>


  <a href="/login">
    <button class="loginButton">Profile/Login</button>
  </a>

  <a href="/inbox">
    <button class="loginButton">Inbox</button>
  </a>


  <a href="/gallery/new">
    <button class="loginButton">Post new spot</button>
  </a>

  <a href="/gallery/list">
    <button class="loginButton">Gallery</button>
  </a>

  <div id="header">
    <div id="logoBox">
      <a href="/">
        <div id="logo">
          <i class="fas fa-tint"></i>

          SPOTCHEK
        </div>
      </a>

    </div>

    <div id="tagBox">
      <div id="tagline">Welcome to your online spotcheck. Here at Spotchek, we like to surf. Check other spots, or post
        a picture of your own. Share the
        stoke!
      </div>
      <div id="taglineSmall">Share the Stoke</div>
    </div>

  </div>
</div>