<div id="header">
  <div id="logo">
    _Architekt
  </div>
  <div id="tagline">Welcome to our online portfolio. We are a small group of passionate designers and architects looking
    to inspire others to challenge the status quo. We are unafraid of showing the world our innovations.</div>

</div>