<div id="outerHeader">
  <a href="http://localhost:3000/logout">
    <button class="loginButton">Logout</button></a>
  <a href="http://localhost:3000/login">
    <button class="loginButton">Profile/Login</button>
  </a>

  <a href="http://localhost:3000/gallery/new">
    <button class="loginButton">Post new spot</button>
  </a>

  <a href="http://localhost:3000/gallery/list">
    <button class="loginButton">Gallery</button>
  </a>

  <div id="header">
    <div id="logoBox">
      <a href="http://localhost:3000/">
        <div id="logo">
          <i class="fas fa-tint"></i>

          SPOTCHEK
        </div>
      </a>

    </div>

    <div id="tagBox">
      <div id="tagline">Welcome to your online spotcheck. We are a small group of passionate boardriders and
        thrillseekers
        looking
        to inspire others to challenge the status quo. Check other spots, or post a picture of your own. Share the
        stoke!
      </div>
    </div>

  </div>
</div>