@media (min-width: 426px) and (max-width: 769px) {
  html {
    height: 100%;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    html body {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em; }
    html #formContainer {
      display: flex;
      height: 75%;
      width: 100%;
      justify-content: space-between;
      margin: 0em 0em 0em 0em; }
      html #formContainer #formBox {
        display: flex;
        flex-wrap: wrap;
        top: 25%;
        left: 50%;
        right: 50%;
        font-family: "IBM Plex Sans", sans-serif;
        margin-top: 4em;
        width: 25%; }
      html #formContainer #leftBox {
        width: 75%; }
        html #formContainer #leftBox #leftText {
          color: #4ca4db;
          font-family: "IBM Plex Sans", sans-serif; }
        html #formContainer #leftBox #leftImage {
          width: 80%;
          /* you can use % */
          height: auto; }
    html #logo {
      color: #4ca4db;
      font-size: 4vw; }
    html #tagline {
      color: #4ca4db;
      font-size: 0.75em;
      display: none; }
    html #taglineSmall {
      color: #4ca4db;
      font-size: 0.75em; }
    html .loginButton {
      background-color: white;
      color: #4ca4db;
      border: 2px solid #4ca4db;
      /* Green */
      font-family: "IBM Plex Sans", sans-serif;
      float: right;
      margin: 0em 0em 0.5em 0.5em;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    html .loginButton:hover {
      background-color: #4ca4db;
      /* Green */
      color: white;
      cursor: pointer; }
    html #header {
      width: 100%;
      height: 6em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "IBM Plex Sans", sans-serif;
      border-top: 1px dotted #4ca4db;
      padding-top: 10px;
      margin: 1em 0em 1em 0em; }
      html #header #logoBox {
        width: 75%;
        font-size: 3.25em;
        font-weight: 900;
        letter-spacing: 4px; }
      html #header #tagBox {
        width: 25%;
        font-size: 0.75em;
        border-left: 1px dotted #4ca4db;
        padding: 5px; }
    html #mainPageContainer {
      display: flex;
      height: 75%;
      width: 100%;
      justify-content: space-around; }
      html #mainPageContainer #mainLeftBox {
        width: 33%;
        display: flex; }
        html #mainPageContainer #mainLeftBox .sideBox {
          width: 100%;
          margin: 1em 1em 1em 1em; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav {
            background-color: white;
            color: black;
            font-family: "IBM Plex Sans", sans-serif;
            width: 100%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav:hover {
            color: #4ca4db; }
      html #mainPageContainer #mainRightBox {
        width: 66%; }
        html #mainPageContainer #mainRightBox #mainImage {
          width: 100%;
          /* you can use % */
          height: auto; }
    html #listContentContainer {
      height: 100%;
      width: 100%;
      display: block; }
      html #listContentContainer #newestContainer {
        height: 60%;
        align-items: center;
        border-bottom: 1px dotted #4ca4db; }
        html #listContentContainer #newestContainer #newHeader {
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db; }
        html #listContentContainer #newestContainer #newPicBox {
          padding: 0.5em 0.5em 0.5em 0.5em; }
          html #listContentContainer #newestContainer #newPicBox #newPic {
            width: 50%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #listContentContainer #newestContainer #newPicBox #newPic:hover {
            border-color: #4ca4db; }
      html #listContentContainer #listContainer {
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        width: 100%; }
        html #listContentContainer #listContainer #listHeadBox {
          width: 100%;
          height: auto;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer #userHeadBox {
          width: 100%;
          height: 1vw;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer .listBox {
          width: 40%;
          height: auto;
          margin: 0em 1em 0em 1em;
          padding: 0.5em 0.5em 0.5em 0.5em;
          font-family: "IBM Plex Sans", sans-serif;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s;
          color: black; }
          html #listContentContainer #listContainer .listBox .listPic {
            width: 100%;
            height: auto;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
        html #listContentContainer #listContainer .listPic:hover {
          border-color: #4ca4db; }
    html #contentContainer {
      display: flex;
      width: 100%;
      height: 100%; }
      html #contentContainer #bigContentBox {
        width: 75%;
        margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #bigTitle {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          color: #4ca4db; }
        html #contentContainer #bigContentBox #bigUsername {
          margin: 0.5em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigAuthor {
          margin: 0em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigImage {
          width: 100%;
          height: 60%; }
        html #contentContainer #bigContentBox .bigTextBody {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #editButtonsBox {
          display: flex; }
      html #contentContainer #stackedContentContainer {
        width: 25%;
        margin: 1em 1em 4em 1em;
        padding: 1em;
        border-top: 1px dotted #4ca4db; }
        html #contentContainer #stackedContentContainer #stackedText {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          text-decoration: underline; }
        html #contentContainer #stackedContentContainer .stackedBox {
          height: 33%;
          margin-bottom: 10px; }
          html #contentContainer #stackedContentContainer .stackedBox .smallTitle {
            margin: 0em 0em 0em 0em;
            font-family: "IBM Plex Sans", sans-serif; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic {
            width: 100%;
            height: 75%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic:hover {
            border-color: #4ca4db; }
          html #contentContainer #stackedContentContainer .stackedBox .stackedText {
            margin-bottom: 2px;
            font-family: "IBM Plex Sans", sans-serif; } }

@media only screen and (min-width: 769px) {
  html {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center; }
    html body {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em; }
    html #formContainer {
      display: flex;
      height: 75%;
      width: 100%;
      justify-content: space-between;
      margin: 0em 0em 0em 0em; }
      html #formContainer #formBox {
        display: flex;
        flex-wrap: wrap;
        top: 25%;
        left: 50%;
        right: 50%;
        font-family: "IBM Plex Sans", sans-serif;
        margin-top: 4em;
        width: 25%; }
      html #formContainer #leftBox {
        width: 75%; }
        html #formContainer #leftBox #leftText {
          color: #4ca4db;
          font-family: "IBM Plex Sans", sans-serif; }
        html #formContainer #leftBox #leftImage {
          width: 80%;
          /* you can use % */
          height: auto; }
    html #logo {
      color: #4ca4db;
      font-size: 4vw; }
    html #tagline {
      color: #4ca4db;
      font-size: 0.8vw; }
    html #taglineSmall {
      color: #4ca4db;
      font-size: 0.75em;
      display: none; }
    html .loginButton {
      background-color: white;
      color: #4ca4db;
      border: 2px solid #4ca4db;
      /* Green */
      font-family: "IBM Plex Sans", sans-serif;
      float: right;
      margin: 0em 0em 0.5em 0.5em;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    html .loginButton:hover {
      background-color: #4ca4db;
      /* Green */
      color: white;
      cursor: pointer; }
    html #header {
      width: 100%;
      height: 6em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "IBM Plex Sans", sans-serif;
      border-top: 1px dotted #4ca4db;
      padding-top: 10px;
      margin: 0.5em 0em 4em 0em; }
      html #header #logoBox {
        width: 75%;
        font-size: 3.25em;
        font-weight: 900;
        letter-spacing: 4px; }
      html #header #tagBox {
        width: 25%;
        font-size: 0.75em;
        border-left: 1px dotted #4ca4db;
        padding: 5px; }
    html #mainPageContainer {
      display: flex;
      height: 75%;
      width: 100%;
      justify-content: space-around; }
      html #mainPageContainer #mainLeftBox {
        width: 33%;
        display: flex; }
        html #mainPageContainer #mainLeftBox .sideBox {
          width: 100%;
          margin: 1em 1em 1em 1em; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav {
            background-color: white;
            color: black;
            font-family: "IBM Plex Sans", sans-serif;
            width: 100%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            font-size: 2em; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav:hover {
            color: #4ca4db; }
      html #mainPageContainer #mainRightBox {
        width: 66%; }
        html #mainPageContainer #mainRightBox #mainImage {
          width: 100%;
          /* you can use % */
          height: auto; }
    html #listContentContainer {
      height: 100%;
      width: 100%;
      display: block; }
      html #listContentContainer #newestContainer {
        height: 60%;
        align-items: center;
        border-bottom: 1px dotted #4ca4db; }
        html #listContentContainer #newestContainer #newHeader {
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db; }
        html #listContentContainer #newestContainer #newPicBox {
          padding: 0.5em 0.5em 0.5em 0.5em; }
          html #listContentContainer #newestContainer #newPicBox #newPic {
            width: 50%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #listContentContainer #newestContainer #newPicBox #newPic:hover {
            border-color: #4ca4db; }
      html #listContentContainer #listContainer {
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        width: 100%; }
        html #listContentContainer #listContainer #listHeadBox {
          width: 100%;
          height: auto;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer #userHeadBox {
          width: 100%;
          height: 1vw;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer .listBox {
          width: 25%;
          height: auto;
          margin: 0em 1em 0em 1em;
          padding: 0.5em 0.5em 0.5em 0.5em;
          font-family: "IBM Plex Sans", sans-serif;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s;
          color: black; }
          html #listContentContainer #listContainer .listBox .listPic {
            width: 100%;
            height: auto;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
        html #listContentContainer #listContainer .listPic:hover {
          border-color: #4ca4db; }
    html #contentContainer {
      display: flex;
      width: 100%;
      height: 100%; }
      html #contentContainer #bigContentBox {
        width: 75%;
        margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #bigTitle {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          color: #4ca4db; }
        html #contentContainer #bigContentBox #bigUsername {
          margin: 0.5em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigAuthor {
          margin: 0em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigImage {
          width: 100%;
          height: 60%; }
        html #contentContainer #bigContentBox .bigTextBody {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #editButtonsBox {
          display: flex;
          border-bottom: 1px dotted #4ca4db; }
      html #contentContainer #stackedContentContainer {
        width: 25%;
        margin: 1em 1em 4em 1em;
        padding: 1em;
        border-top: 1px dotted #4ca4db; }
        html #contentContainer #stackedContentContainer #stackedText {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          text-decoration: underline; }
        html #contentContainer #stackedContentContainer .stackedBox {
          height: 33%;
          margin-bottom: 10px; }
          html #contentContainer #stackedContentContainer .stackedBox .smallTitle {
            margin: 0em 0em 0em 0em;
            font-family: "IBM Plex Sans", sans-serif; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic {
            width: 100%;
            height: 75%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic:hover {
            border-color: #4ca4db; }
          html #contentContainer #stackedContentContainer .stackedBox .stackedText {
            margin-bottom: 2px;
            font-family: "IBM Plex Sans", sans-serif; } }

@media (max-width: 426px) {
  html {
    height: 100%;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    html body {
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 4em;
      background-image: url("../../assets/white-waves.png");
      background-repeat: repeat; }
    html #formContainer {
      display: flex;
      height: 75%;
      width: 100%;
      justify-content: space-between;
      margin: 0em 0em 0em 0em; }
      html #formContainer #formBox {
        display: flex;
        flex-wrap: wrap;
        top: 25%;
        left: 50%;
        right: 50%;
        font-family: "IBM Plex Sans", sans-serif;
        margin-top: 4em;
        width: 80%; }
      html #formContainer #leftBox #leftText {
        color: #4ca4db;
        font-family: "IBM Plex Sans", sans-serif; }
      html #formContainer #leftBox #leftImage {
        width: 80%;
        /* you can use % */
        height: auto;
        display: none; }
    html #logo {
      color: #4ca4db;
      font-size: 4vw; }
    html #tagline {
      color: #4ca4db;
      font-size: 0.75em;
      display: none; }
    html #taglineSmall {
      color: #4ca4db;
      font-size: 0.75em; }
    html .loginButton {
      font-size: 0.6em;
      background-color: white;
      color: #4ca4db;
      border: 2px solid #4ca4db;
      /* Green */
      font-family: "IBM Plex Sans", sans-serif;
      float: right;
      margin: 0em 0em 0.5em 0.5em;
      -webkit-transition-duration: 0.4s;
      /* Safari */
      transition-duration: 0.4s; }
    html .loginButton:hover {
      background-color: #4ca4db;
      /* Green */
      color: white;
      cursor: pointer; }
    html #header {
      width: 100%;
      height: 6em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "IBM Plex Sans", sans-serif;
      border-top: 1px dotted #4ca4db;
      padding-top: 10px;
      margin: 1em 0em 1em 0em; }
      html #header #logoBox {
        width: 75%;
        font-size: 3.25em;
        font-weight: 900;
        letter-spacing: 4px; }
      html #header #tagBox {
        width: 25%;
        font-size: 0.75em;
        border-left: 1px dotted #4ca4db;
        padding: 5px; }
    html #mainPageContainer {
      display: flex;
      height: 75%;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around; }
      html #mainPageContainer #mainLeftBox {
        width: 100%;
        display: flex; }
        html #mainPageContainer #mainLeftBox .sideBox {
          width: 100%;
          margin: 1em 1em 1em 1em;
          font-size: 1.5em; }
          html #mainPageContainer #mainLeftBox .sideBox #mySidenav {
            width: 100%; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav {
            border: 2px solid;
            background-color: white;
            color: #4ca4db;
            font-family: "IBM Plex Sans", sans-serif;
            width: 100%;
            text-decoration: underline;
            padding: 3px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
          html #mainPageContainer #mainLeftBox .sideBox .sidenav:hover {
            color: #4ca4db; }
      html #mainPageContainer #mainRightBox {
        width: 100%;
        display: none; }
        html #mainPageContainer #mainRightBox #mainImage {
          width: 100%;
          /* you can use % */
          height: auto; }
    html #listContentContainer {
      height: 100%;
      width: 100%;
      display: block; }
      html #listContentContainer #newestContainer {
        align-items: center;
        border-bottom: 1px dotted #4ca4db; }
        html #listContentContainer #newestContainer #newHeader {
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db; }
        html #listContentContainer #newestContainer #newPicBox {
          padding: 0.5em 0.5em 0.5em 0.5em; }
          html #listContentContainer #newestContainer #newPicBox #newPic {
            width: 100%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #listContentContainer #newestContainer #newPicBox #newPic:hover {
            border-color: #4ca4db; }
      html #listContentContainer #listContainer {
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        width: 100%; }
        html #listContentContainer #listContainer #listHeadBox {
          width: 100%;
          height: auto;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer #userHeadBox {
          width: 100%;
          height: 1vw;
          text-align: center;
          font-family: "IBM Plex Sans", sans-serif;
          color: #4ca4db;
          margin: 0em 0em 0em 0em; }
        html #listContentContainer #listContainer .listBox {
          width: 100%;
          height: auto;
          margin: 0em 1em 0em 1em;
          padding: 0.5em 0.5em 0.5em 0.5em;
          font-family: "IBM Plex Sans", sans-serif;
          -webkit-transition-duration: 0.4s;
          /* Safari */
          transition-duration: 0.4s;
          color: black; }
          html #listContentContainer #listContainer .listBox .listPic {
            width: 100%;
            height: auto;
            border-style: solid;
            border-width: 5px;
            border-color: white;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s; }
        html #listContentContainer #listContainer .listPic:hover {
          border-color: #4ca4db; }
    html #contentContainer {
      display: flex;
      width: 100%;
      height: 100%; }
      html #contentContainer #bigContentBox {
        width: 75%;
        margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #bigTitle {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          color: #4ca4db; }
        html #contentContainer #bigContentBox #bigUsername {
          margin: 0.5em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigAuthor {
          margin: 0em 0em 0em 0em;
          font-family: "IBM Plex Sans", sans-serif; }
        html #contentContainer #bigContentBox .bigImage {
          width: 100%;
          height: 60%; }
        html #contentContainer #bigContentBox .bigTextBody {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 1em 1em 4em 1em; }
        html #contentContainer #bigContentBox #editButtonsBox {
          display: flex; }
      html #contentContainer #stackedContentContainer {
        display: none;
        width: 0%;
        margin: 1em 1em 4em 1em;
        padding: 1em;
        border-top: 1px dotted #4ca4db; }
        html #contentContainer #stackedContentContainer #stackedText {
          font-family: "IBM Plex Sans", sans-serif;
          margin: 0em 0em 0.5em 0em;
          text-decoration: underline; }
        html #contentContainer #stackedContentContainer .stackedBox {
          height: 33%;
          margin-bottom: 10px; }
          html #contentContainer #stackedContentContainer .stackedBox .smallTitle {
            margin: 0em 0em 0em 0em;
            font-family: "IBM Plex Sans", sans-serif; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic {
            width: 100%;
            height: 75%;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            border-style: solid;
            border-width: 5px;
            border-color: white; }
          html #contentContainer #stackedContentContainer .stackedBox .smallPic:hover {
            border-color: #4ca4db; }
          html #contentContainer #stackedContentContainer .stackedBox .stackedText {
            margin-bottom: 2px;
            font-family: "IBM Plex Sans", sans-serif; } }

a:-webkit-any-link {
  text-decoration: none !important; }

a {
  color: inherit; }

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4ca4db;
  border-radius: 4px; }

input[type='button'],
input[type='submit'],
input[type='reset'] {
  background-color: #4ca4db;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; }

#commentsContainer {
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
  margin: 1em 1em 4em 1em; }
  #commentsContainer .commentBox {
    border-top: 1px dotted #4ca4db; }

#commentBodyInput {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4ca4db;
  border-radius: 4px; }

#commentFormBox {
  display: flex;
  flex-wrap: wrap;
  top: 25%;
  left: 50%;
  right: 50%;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 4em;
  width: 25%; }

.editButtons {
  background-color: #4ca4db;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer; }
