<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotchek</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{>fonts}}
</head>

<body>
  {{>header}}
  <div id="formContainer">
    <div id="leftBox">
      <h1 id="leftText">ERROR: This is you <i class="fas fa-level-down-alt"></i> </h1>
      <img id="leftImage"
        src="https://www.adventuresportsnetwork.com/wp-content/uploads/2016/03/NicolaPercellaTeahupooWipeout.jpg"
        alt="">
    </div>
    <div id="formBox">
      {{!-- <form action="/login" method="post">
        <div class="inputClass">
          <label>Username:</label>
          <input type="text" name="username" />
        </div>
        <div class="inputClass">
          <label>Password:</label>
          <input type="password" name="password" />
        </div>
        <div class="inputClass">
          <input type="submit" value="Log In" />
        </div>
      </form> --}}
      Uh oh there seems to be an error
      <div id="registerBox">
        <form action="/register" method='GET'>
          <div class="inputClass">
            <input type="submit" value="New? Register Here" />
          </div>
        </form>
      </div>
    </div>
  </div>



</body>

</html>