<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SpotChek</title>
  <link rel="stylesheet" href="/css/styles.css">
  {{>fonts}}
</head>

<body>
  {{>header}}

  <div id="mainPageContainer">

    <div id="mainLeftBox">
      <div id="mySidenav">
        <div class="sideBox"><a href="http://localhost:3000/gallery/list" class="sidenav">Gallery</a></div>
        <div class="sideBox"><a href="http://localhost:3000/gallery/new" class="sidenav">Post</a></div>
        <div class="sideBox"><a href="http://localhost:3000/login" class="sidenav">Profile || Login</a></div>
        <div class="sideBox"><a href="#" class="sidenav">Contact</a></div>
      </div>
    </div>

    <div id="mainRightBox">
      <img id="mainImage"
        src="https://d14fqx6aetz9ka.cloudfront.net/wp-content/uploads/2018/08/16115208/Sequoia_RR_June-22-2018_8709_DMosqueira.jpg"
        alt="">
    </div>
  </div>


  {{!-- https://images.ctfassets.net/kl4m5s78bekv/1mmbReS2MxyX6JeRqslAnj/7e77545431792c51c40851608249e8d1/klein_oceanbeach_feb2016_012223.jpg --}}



</body>

</html>

{{!-- new
  <div id="formContainer">
    <div id="contentContainer">
      <div id="bigContentBox">
        <h3 id="bigTitle">{{big.title}}</h3>
        <div class="bigPic">
          <img class="bigImage" src={{big.photo_url}}>
        </div>
        <div class="bigTextBody">{{big.description}}</div>
      </div>
    </div>

  </div>
  <div id="formBox">
    <div id="leftBox">
      <h1 id="leftText">NEW POST</h1>
      <img id="leftImage" src="" alt="">
    </div>
  </div> --}}